#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input, select{
  margin: .5rem 0;
  padding: .5rem 0;
  width: 100%;
}

p, h3{
  margin: 0;
}

ul{
  text-align: start;
}

button{
  margin: 1rem;
}

.Error{
  color: red;
}